.cardsHeader {
  width: 312px;
  height: 47px;
  margin-left: 61px;
  margin-bottom: 35px;
  margin-top: 64px;
  color: #000000;
  font-family: "Roboto";
  border-bottom: 3px solid #de0f17;
  font-size: 36px;
  line-height: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
}

.cardsHeader div {
  width: 346px;
}

@media screen and (max-width: 767px) {
  .cardsHeader {
    margin: 0 124px 27px 20px;
    width: 231px ;
    height: 33px;   
    font-size: 24px;
    line-height: 28px;
    border-bottom: 3px solid #de0f17;
  }

  .cardsHeader div {
    width: 231px ;
  }
}

