.content {
  width: 873px;
  min-height: 475px;
  margin-right: 507px;
  margin-left: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.showBtn {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 787px) {
  .content {
    margin: 0px 20px 32px 20px;
    width: 335px;
  }

  .showBtn {
    display: block;
    width: 200px;
    height: 50px;
    border: 2px solid #de0f17;
    margin: 32px 75px 40px 75px;
  }

  .buttonIcon {
    width: 16px;
    height: 16px;
    margin-left: 28px;
  }

  .showParagraph {
    display: block;
  }

  .hideParagraph {
    display: none;
  }
}
