.content {
  width: 873px;
  min-height: 475px;
  margin-left: 60px;
  margin-bottom: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
