.content {
  width: 873px;
  margin: 27px 0 10px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.showBtn {
  display: none;
}

@media screen and (max-width: 787px) {
  .content {
    margin: 27px 20px 0 20px;
    width: 335px;
  }

  .showBtn {
    display: block;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: 2px solid #de0f17;
    margin: 18px 0 0 50px;
    padding-right: 32px;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
  }

  .buttonIcon {
    margin-left: 155px;
    margin-top: -15px;
    width: 16px;
    height: 16px;
  }

  .showParagraph {
    display: block;
  }

  .hideParagraph {
    display: none;
  }
}
